*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
  background-color: #acedef;
  text-shadow: 2px 2px darkgrey;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* titolo */

header {
  width: auto;
  height: 200px;
  text-align: center;
}

header > h1 {
  color: white;
  font-size: 70px;
  padding-top: 40px;
}

/* main */

main {
  width: auto;
  height: 70%;
  margin: auto;
}

.mega_div {
  position: relative;
  width: 1025px;
  margin: auto;
}

.riga {
  width: 1025px;
  height: 300px;
  margin: auto;
}

/* CARTE */

.riga div:first-child {
  left: 5px;
}

.riga div:nth-child(2) {
  left: 260px;
}

.riga div:nth-child(3) {
  right: 260px;
}

.riga div:last-child {
  right: 5px;
}

.riga > .memo, .memo > img, .pattern {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition-duration: 0.2s;
  transform-style: preserve-3d;
  box-shadow: 3px 3px darkgrey;
}

.back > img{
  position: absolute;
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 200px;
  left: 30px;
  top: 10px
}

.memo:hover {
  transform: rotateY(180deg);
}

.back {
  color: red;
  background-color: white;
  height: 250px;
  border-radius: 10px;
  transform: rotateY(180deg);
}

strong {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  bottom: 10%;
  left: 25%;
}

/* footer */

footer {
  width: auto;
  height: 10%;
  text-align: center;
}

footer > h4 {
  font-size: 20px;
}
